.fig-tree-node .jer-editor-container {
  /* margin: 0;
    padding: 0; */
}

.ft-custom {
  min-height: 2.5em;
  margin-left: -0.5em;
  display: flex;
  flex-direction: column;
}

.jer-value-and-buttons,
.jer-input-component {
  /* width: 100%; */
}

/* Operator/Fragment node editing interface */
.ft-toolbar {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

/* Operator/Fragment display interface */

.ft-display-bar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-left: -0.5em;
}

.ft-button-and-edit {
  display: flex;
  align-items: end;
  gap: 0.6em;
}

.ft-display-button {
  display: flex;
  justify-content: space-between;
  min-width: 4em;
  /* width: 100%; */
  height: 2em;
  padding: 0em 1em;
  border-radius: 0.5em;
  align-items: center;
  gap: 0.4em;
  cursor: pointer;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.3s;
}

.ft-display-button:hover {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  transform: scale(0.99);
  transition: 0.3s;
}

.ft-display-button:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 0.5em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 15px 5px grey;
}

.ft-display-button:active:after {
  box-shadow: 0 0 0 0 grey;
  position: absolute;
  border-radius: 0.5em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.ft-display-button:active {
  top: 0.07em;
}

.ft-operator-alias {
  /* font-size: 2em; */
  min-width: 1em;
  text-align: center;
  font-weight: bold;
}

.ft-icon.ft-evaluate-icon {
  width: 1em;
  transform: translateY(0.1em);
}

.ft-display-name {
  position: absolute;
  right: -0.5em;
  top: -0.3em;
}

.ft-display-name a {
  font-family: sans-serif;
  color: gray;
  font-variant: small-caps;
  font-size: 0.7em;
  font-weight: 600;
  text-decoration: none;
}

.ft-display-name a:visited {
  /* color: red !important; */
}

.ft-display-name a:hover {
  text-decoration: underline;
  color: rgb(76, 76, 76);
}

/* Loading spinner */
.ft-loader {
  /* width: 48px;
    height: 48px; */
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 0.75s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* .ft-display-bar:hover > .ft-edit-icon {
    opacity: 1;
  } */

/* .ft-button-and-edit:hover > .ft-edit-icon {
    opacity: 1;
  } */

.ft-clickable {
  cursor: pointer;
}

.ft-edit-icon {
  opacity: 0;
  padding-right: 5em; /* Gives wider hover target */
  /* display: flex; */
}

.ft-edit-icon:hover {
  opacity: 1;
}

.ft-okay-icon {
  margin-left: 0.5em;
  margin-top: 0.3em;
}
.ft-cancel-icon {
  /* margin-left: 0.5em; */
  margin-top: 0.3em;
}

.ft-function-select {
  font-size: 80%;
  text-wrap: nowrap;
}

.ft-alias-header-text {
  border-top: 1px solid #dbdbdb;
  width: 100%;
  padding-top: 0.6em;
  padding-bottom: 0.3em;
  margin-top: 1.5em;
  margin-left: 1em;
  font-family: sans-serif;
}

/* Shorthands */

.ft-shorthand-wrapper {
  /* border: 1px solid red; */
  position: relative;
}

.ft-shorthand-display-bar {
  padding-left: 1.5em;
}

.ft-shorthand-node {
  /* border: 1px solid yellow; */
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding-left: 1em;
}

.ft-shorthand-string {
  /* border: 1px solid green; */
  margin-left: -1em;
}

.ft-editor .jer-collection-inner {
  margin-left: -1em;
  padding-left: 0.5em;
}

.ft-editor .jer-collection-element {
  position: relative;
}

/* Additional spacing for JSON text input */
.ft-editor .jer-collection-text-edit {
  margin-left: 0.5em;
}

.ft-editor .jer-bracket-outside {
  display: none;
}

/* For react-select */
.ft-rs-control {
  border: 2px solid red !important;
}

.ft-property-select {
  font-size: '0.8em';
  text-wrap: nowrap;
}
