.fig-tree-node .jer-editor-container {
  margin: 0;
  padding: 0;
}

.jer-collection-inner {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
}

.jer-brackets {
  display: none;
}
.jer-collection-item-count {
  display: none;
}
