.App {
  text-align: center;
}

.result-text {
  font-size: 1.5rem;
}

.error-text {
  font-size: 1.5rem;
  color: red;
}

pre {
  white-space: pre-wrap;
}

.ft-icon.ft-evaluate-icon {
  transform: translateY(0em) !important;
}

.jer-editor-container {
  margin-top: 0.6em;
  box-shadow: 0 3px 8px #0000003d;
  min-width: unset !important;
  width: clamp(300px, 600px, 90vw);
}

.ft-operator-alias {
  font-family:
    Work Sans,
    sans-serif;
}

/* Chakra "Toast" component */
.chakra-alert__desc {
  white-space: pre-wrap;
}

/* For "Markdown" formatted content (in Modals) */

/* .modal-content {
} */

.modal-content {
  font-size: 110%;
}

.modal-content ul {
  padding-left: 2em;
}

.modal-content pre {
  font-size: 80%;
}
