.App {
  text-align: center;
}

.result-text {
  font-size: 1.5rem;
}

.error-text {
  font-size: 1.5rem;
  color: red;
}

pre {
  white-space: pre-wrap;
}

.ft-display-button {
  min-width: 8.5em !important;
}
